<div class="row js-contact-list">
  <div class="card col-xl-3 col-lg-4 col-md-6 mb-4 position-relative">
    <div class="card-body">
      <h5 class="card-title d-flex align-items-center gap-1 mb-4">
        <span class="material-icons-round"> cast </span> Card title
      </h5>
      <p class="card-subtitle mb-2 text-muted d-flex align-items-center gap-1">
        <span class="material-icons-round"> alternate_email </span> Card
        subtitle
      </p>
      <p class="card-text d-flex align-items-center gap-1">
        <span class="material-icons-round"> phone </span> number
      </p>
    </div>
    <button
      type="button"
      class="btn-close position-absolute top-0 end-0"
      data-bs-dismiss="modal"
      aria-label="Close"
    ></button>
  </div>
</div>
